<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2" style="background: lavender;">
    <h1 class="left-nav">The Tech Blog</h1>
    <nav class="right-nav">
      <a class="nav-item" href="/">Home</a>
      <a class="nav-item" href="/dashboard">Dashboard</a>
      {{#if logged_in}}
        <a class="nav-item" href="#" id="logout">Logout</a>
      {{else}}
        <a class="nav-item" href="/login">Login</a>
      {{/if}}
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{#if homepage}}
      <h2>Recent Blogs</h2>
      {{#each blogs}}
        <div class="post">
          <h3>{{title}}</h3>
          <p>{{content}}</p>
        </div>
      {{/each}}
    {{else}}
      {{{ body }}}
    {{/if}}
  </main>
  <footer>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
<style>

.nav-item {
    font-size: x-large;
    padding-right: 10px;
}

.card {
    box-shadow: 5px 5px slategrey;
    border-radius: 5px;
    padding: 20px;
}

.top-label {
      display: block;
    margin: 5px 0;
    font-weight: bold;
}

.blog-title-input{


    width: -webkit-fill-available;
    font-size: large;
    border-radius: 5px;
    padding: 5px;
}

.blog-content-textarea{
 
    min-height: 300px;
    width: -webkit-fill-available;
    font-size: large;
    border-radius: 5px;
    padding: 5px;

}
.comment-content-textarea{
 
    min-height: 200px;
    width: -webkit-fill-available;
    font-size: large;
    border-radius: 5px;
    padding: 5px;

}
.comment-entry{
  background-color: lavender;
    padding: 10px;
    font-size: large;
    margin-bottom: 10px;
    border-radius: 10px;
}

.colored-submit-button{
     background-color: lavender;
    font-size: large;
    border-radius: 5px;
    padding: 5px;

}
.colored-submit-button:hover{
     background-color: rgb(208, 208, 248); 
}

.delete-button{
      background: rgb(247, 183, 183);
    font-size: large;
    border-radius: 5px;
    padding: 5px;

}
.delete-button:hover{
      background: rgb(246,136,136);

}

.btn{
  margin: 5px 0;
}

.right-nav{
    display: inline-block;
    float: right;
}

.left-nav{
    display: inline-block;
}

.home-anchor{
      text-decoration-style: dotted;

}

.login-container{
  
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-choice{
    display: inline-block;
    float: right;
    padding-top: 15px;
}
.comment-blog-card{
  margin-bottom: 30px;
  
    font-size: large;
}

.comment-text{
      font-style: italic;

}
</style>
