  
<div class="card comment-blog-card">
  <h2 class="text-primary">{{blog.title}}</h2>
  <p>{{blog.content}}</p>
  <p>Created By: <b>{{blog.User.name}}</b> on {{{formatDate blog.created_at}}}</p>
</div>

<div class="card comment-blog-card">
  <h3 class="text-info">Add a comment</h3>
  <form id="comment-form">
    <textarea class="comment-content-textarea" id="comment-content" rows="4" cols="50" placeholder="Enter your comment"></textarea>
    <br>
    <button class="btn btn-info" type="submit" id="comment-submit">Submit</button>
  </form>
</div>

<div class="card comment-blog-card">
  <h3 class="text-primary">Comments</h3>
    {{#each blog.Comments as |comment|}}
    <div class="comment-entry">
      <p class="comment-text">{{comment.text}}</p>
      <p>By {{comment.User.name}} on {{{formatDate comment.date_posted}}}</p>
    </div>
    {{/each}}
</div>
<script>
  

  const commentForm = document.getElementById('comment-form');
  const commentContent = document.getElementById('comment-content');
  const commentList = document.getElementById('comment-list');

  commentForm.addEventListener('submit', async (event) => {
    event.preventDefault();

    // Send a POST request to the server to create a new comment
    const response = await fetch('/api/comments/addComment', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        commentText: commentContent.value,
        blog_id: '{{blog.id}}' // Replace with the actual blogId
      })
    });

    if (response.ok) {
      // Add the new comment to the list
      console.log('response');
      console.log(response);
      const comment = await response.json();
      console.log('comment');
      console.log(comment);
      commentList.insertAdjacentHTML('beforeend', `
        <li>
          <p>${comment.text}</p>
          <p>By ${comment.User.name} on ${formatDate(comment.date_posted)}</p>
        </li>
      `);

      // Clear the comment form
      commentContent.value = '';
    } else {
      // Display an error message
      console.error('Failed to create comment');
    }
  });


  function formatDate(date) {
    const formattedDate = new Date(date);
    const year = formattedDate.getFullYear();
    const month = formattedDate.toLocaleString('default', { month: 'long' });
    const day = formattedDate.getDate();
    const hours = formattedDate.getHours();
    const minutes = formattedDate.getMinutes();
    const seconds = formattedDate.getSeconds();
    const amOrPm = hours >= 12 ? 'PM' : 'AM';
    const twelveHourFormat = hours % 12 || 12;
    const formattedTime = `${twelveHourFormat}:${minutes}:${seconds} ${amOrPm}`;
  
    return `${month} ${day}, ${year}, ${formattedTime}`;
  }


</script>
