{{#each blogs as |blog| }}
<div class="row align-center mb-5">
    <a href="/commentBlog/{{blog.id}}" class="col-md-12 home-anchor">
      <div>
        <h2>{{blog.title}}</h2>
        <p>{{blog.truncatedContent}}</p>
        <p>Created By: <b>{{blog.User.name}}</b> on {{{formatDate blog.created_at}}}</p>
      </div>
    </a>
</div>
{{/each}}
